@import "twitter/bootstrap"

.fullscreen
  width: 100%
  height: 100%
  position: fixed
  //background: url("http://placekitten.com/g/1280/702")
  > div
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

.card-wrapper
  position: absolute
  border-radius: 10px
  padding: 20px
  background: rgba(255, 255, 255, 0.5)
  top: 30%
  left: 64%
  //margin-top: -350px
  //margin-left: -350px
  width: 400px
  //height: 300px
  z-index: 3
  form
    opacity: 1

#gallery
  z-index: 2
  position: absolute
  bottom: 0
  text-align: center
  min-height: 150px
  background: rgba(255,255,255, 0.5)
  width: 94%
  margin: 0 auto
  left: 50%
  margin-left: -47%
  border-radius: 15px 15px 0 0
  img
    margin: 10px
  img:first-child
    margin-left: 0
  img:last-child
    margin-right: 0

#preload
  display: none

#auth
  position: absolute
  top: 0
  right: 0
  z-index: 2
  padding: 0 0 5px 10px
  background: rgba(255,255,255, 0.5)
  border-radius: 0 0 0 5px

  .social-link
    display: inline-block
    height: 45px
    width: 45px

  .is-vkontakte
    background: url(/assets/vkontakte.png)
    &.active
      background: url(/assets/vkontakte_i.png)
  .is-twitter
    background: url(/assets/twitter.png)
    &.active
      background: url(/assets/twitter_i.png)
  .is-google_oauth2
    background: url(/assets/google_oauth2.png)
    &.active
      background: url(/assets/google_oauth2_i.png)
  .is-facebook
    background: url(/assets/facebook.png)
    &.active
      background: url(/assets/facebook_i.png)
  .is-github
    background: url(/assets/github.png)
    &.active
      background: url(/assets/github_i.png)
