@import "twitter/bootstrap"

.fullscreen
  width: 100%
  height: 100%
  position: fixed
  > div
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

.card-wrapper
  width: 700px
